*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #212121;
    color: white;
    
    input{
        outline: none;
    }
}

#root{
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

#section-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #737373;
    width: 1100px;
    height: 460px;
    border-radius: 3px;
}